# Ignore everything
*

# Allow src and everything inside it
!src/
!src/**
src/voice_command/voice_modules/
src/voice_command/tts_engine/

# Ignore specific subfolders inside src
src/voice_command/voice_modules/**
src/voice_command/tts_engine/**

# Keep .gitignore itself
!.gitignore

